<meta property="og:title" content="{{ title }} | Antonio Matera"/>
<meta property="og:url" content="{{WEBSITE_URL}}{{ page.url }}" />
<meta property="og:description" content="{{ abstract or description }}" />
<meta property="og:image" content="{{ WEBSITE_URL }}/assets/img/profile-pic.jpg" />
<meta property="og:image:alt" content="Antonio Matera" />
<meta property="og:type" content="{{ contentType }}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ title }} | Antonio Matera" />
<meta name="twitter:description" content="{{ abstract or description }}" />
<meta name="twitter:image" content="{{ WEBSITE_URL }}/assets/img/profile-pic.jpg" />
<meta name="twitter:site" content="{{ WEBSITE_URL }}" />
<meta name="twitter:creator" content="{{ TWITTER_USER }}" />