<meta property="og:title" content="{{ title }}"/>
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:description" content="{{ abstract or description }}" />
<meta property="og:image" content="assets/img/profile-pic.jpg" />
<meta property="og:type" content="{{ contentType }}" />
<meta property="og:image:alt" content="Antonio Matera" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ abstract or description }}" />
<meta name="twitter:image" content="assets/img/profile-pic.jpg" />