---
layout: 'base.njk' 
---

<div class="o-small-container u-mt-space-2xl">
  <div class="o-paper">
    <h1>{{ title }}</h1>
    <div class="metadata">
      <p>Postato il <time datetime="{{ datePost | postDate }}">{{ datePost | postDate }}</time> in {{ tag }}</p>
    </div>
    {{ content | safe }}
  </div>
</div>