{% extends "_globals.njk" %}

{% block html %}
<!DOCTYPE html>
<html lang="it">

{% include "_head.njk" %}

<body>

  <a href="#main" class="u-skip-link">Vai al contenuto principale</a>

  {% include "header.njk" %}

  <main id="main">
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}

  {% include "svgsprite.njk" %}

  <script src="/assets/scripts/main.js"></script>

  <script>
    const metaThemeColor = document.querySelector('meta[name="theme-color"]');
    if(localStorage.getItem('dark') == "true") {
      document.documentElement.classList.add('dark');
      metaThemeColor.setAttribute('content',  '#000000');
    } else {
      document.documentElement.classList.remove('dark');
      metaThemeColor.setAttribute('content',  '#EEE2DA');
    }
  </script>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

</body>
</html>
{% endblock %}