<nav class="c-nav c-nav--footer">
  <p>Questo sito non traccia.</p>
  <a href="https://github.com/acespace90" class="c-nav__item">Github</a>
  <a href="https://www.linkedin.com/in/antoniomatera/" class="c-nav__item">Linkedin</a>
  <a href="https://www.instagram.com/materantonio/" class="c-nav__item">Instagram</a>
</nav>