<div class="c-opening">
  <div class="c-opening__content">
    <h1 class="c-opening__title">Ciao, sono Antonio.</h1>
    <p class="c-opening__subtitle">Creative Technologist & UX Engineer</p>
    {# <p>I fill the gap between design and engineering.</p>
    <p>I’m specialized in the interaction that users have with web products, from design to front end development, as well as usability, accessibility, user testing and performance.</p> #}
    {# <p>Attualmente impiegato in <a href="https://tangible.is/">Tangible</a> dove mi occupo di sviluppo front end nell'intersezione tra design e sviluppo.</p> #}
    <p>Lavoro in <a href="https://tangible.is/">Tangible</a> come sviluppatore front end svolgendo un ruolo chiave aiutando i designer a prendere decisioni valide e gli sviluppatori a comprendere le intenzioni di design.</p>
    <p>Il mio focus si concentra principalmente sugli utenti finali, dal design allo sviluppo front end, passando per usabilità, interaction, accessibilità, performance e user testing.</p>
    {# <p>Sono specializzato in user interaction, dal design allo sviluppo front end, passando per usabilità, accessibilità, performance e user testing.</p> #}
  </div>
  <div class="c-opening__image-container">
    <img src="./assets/img/profile-pic.jpg" class="c-opening__pic" alt="Foto di me in camicia rossa a quadrettoni">
  </div>
</div>