<div class="c-opening">
  <div class="c-opening__content">
    <h1 class="c-opening__title">Ciao, sono Antonio.</h1>
    <p class="c-opening__subtitle">Creative Technologist & UX Engineer</p>
    {# <p>I fill the gap between design and engineering.</p>
    <p>I’m specialized in the interaction that users have with web products, from design to front end development, as well as usability, accessibility, user testing and performance.</p> #}
    <p>Colmo il divario tra design e sviluppo.</p>
    <p>Sono specializzato nell'interazione degli utenti con i prodotti digitali web, dal design allo sviluppo front end, passando dall'usabilità, accessibilità, user testing e performance.</p>
  </div>
  <div class="c-opening__image-container">
    <img src="./assets/img/profile-pic.jpg" class="c-opening__pic" alt="Foto di me in camicia rossa a quadrettoni">
  </div>
</div>