<div class="c-opening">
  <div class="c-opening__content">
    <h1>Hi, I’m Antonio.</h1>
    <p class="c-opening__subtitle">Creative Technologist & UX Engineer</p>
    <p>I fill the gap between design and engineering.</p>
    <p>I’m specialized in the interaction that users have with web products, from design to front end development, as well as usability, accessibility, user testing and performance.</p>
  </div>
  <div class="c-opening__image-container">
    <img src="./assets/img/profile-pic.jpg" class="c-opening__pic" alt="Pic of me in a red plaid shirt">
  </div>
</div>