<article class="c-post">
  <h3 class="c-post__title">
    <a href="{{ item.url }}" class="c-post__click-area">{{ item.data.title }}</a>
  </h3>
  <p class="c-post__date">{{ item.data.datePost | postDate }}</p>
  <p class="c-post__tag">{{ item.data.tag }}</p>
  <p class="c-post__abstract">{{ item.data.abstract }}</p>
</article>