<article class="c-post">
  <a href="#" class="c-post__click-area"></a>
  <h3 class="c-post__title">Post title</h3>
  <p class="c-post__date">4 Dec 22</p>
  <p class="c-post__abstract">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
</article>