.o-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.o-small-container {
  max-width: var(--small-wrapper);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.o-grid {
  display: grid;
  gap: calc(var(--grid-gutter) * 2) var(--grid-gutter);
  grid-template-columns: repeat(var(--grid-columns), 1fr);

  @include min-screen(bp(medium)) {
    gap: var(--grid-gutter);
  }

}

.o-grid--1-col {

  & > * {
    grid-column: span 12;
  }
  
}

.o-grid--2-cols {

  & > * {
    grid-column: span 12;
    
    @include min-screen(bp(medium)) {
      grid-column: span 6;
    }
  }
  
}