.o-paper {

  h1 {
    margin-bottom: var(--space-3xs);
  }

  .metadata {
    margin-bottom: var(--space-xl);
    margin-top: var(--space-2xs);
    color: useHSL(--gray-80);

    .dark & {
      color: useHSL(--gray-20);
    }

    & * {
      color: currentColor;
    }

  }

  h2, h3, h4, h5, h6 {
    margin-top: var(--space-l);
    margin-bottom: var(--space-xs);
  }

  p, ul, ol {
    margin-bottom: var(--space-m);
  }

  ul, ol {
    list-style: initial;
    list-style-position: outside;
  }

  li {
    margin-left: var(--space-m);
  }

  li + li {
    margin-top: var(--space-2xs);
  }

  img, picture {
    margin: var(--space-m) 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  blockquote {
    position: relative;
    border-left: remify(3px) solid useHSL(--site-text);
    padding-left: var(--space-s);
    margin: var(--space-m) 0;

    p:not(:last-of-type) {
      @include typo-level-0;
      font-style: italic;
    }
  }

  blockquote p:not(:last-of-type)::before {
    content: '\201C';
  }

  blockquote p:not(:last-of-type)::after {
    content: '\201D';
  }

  iframe {
    display: block;
    margin: var(--space-m) auto;
    width: 100%;
    height: 50%;
    aspect-ratio: 16 / 9;
  }

}