html {
  font-size: 100%;
  font-family: $font-primary;
  color: useHSL(--site-text);
  background-color: useHSL(--site-bg);
  scroll-behavior: smooth;
  // CSS for notch when in landscape mode
  padding: env(safe-area-inset-top)
           env(safe-area-inset-right)
           env(safe-area-inset-bottom)
           env(safe-area-inset-left);
}

// @supports(padding:max(0px)) {
//   body, header, footer {
//       padding-left: min(0vmin, env(safe-area-inset-left));
//       padding-right: min(0vmin, env(safe-area-inset-right));
//   }
// }