// Z-Index Scale (private vars)
// --------------------------------------------------
$zIndex-1 : 100; // [data-notation], dropdown list
$zIndex-2 : 200;
$zIndex-3 : 300;
$zIndex-4 : 400;
$zIndex-5 : 500; //header absolute
$zIndex-6 : 600;
$zIndex-7 : 700;
$zIndex-8 : 800;
$zIndex-9 : 900; //skip-link, sticky header
$zIndex-10: 1000; // off-canvas-nav


// Z-Index Applications
// --------------------------------------------------
$zIndex-data-notation  : $zIndex-1;
$zIndex-dropdown-list  : $zIndex-1;
$zIndex-hero-header    : $zIndex-1;
$zIndex-off-canvas-nav : $zIndex-10;
$zIndex-header-absolute: $zIndex-5;
$zIndex-skip-link      : $zIndex-9;
$zIndex-sticky-header  : $zIndex-9;
$zIndex-modal          : $zIndex-10;