@use "sass:math";

@function remify($pixels) {
  $tempCalc: math.div($pixels, 16px);
  @return $tempCalc * 1rem;
}

:root {

  /*------------------------------------*
    Grid
    https://utopia.fyi/grid/calculator?c=472,16,1.2,1480,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,2xl,12
  *------------------------------------*/
  --grid-max-width: #{remify(1480px)};
  --grid-gutter: var(--space-s-l, clamp(1.00rem, calc(0.30rem + 2.38vw), 2.50rem));
  --grid-columns: 12;
  --small-wrapper: #{remify(950px)};

  /*------------------------------------*
    Colors
  *------------------------------------*/
  --white   : 0, 0%, 100%;
  --black   : 0, 0%, 0%;
  --bg-color: 24, 37%, 89%;
  --gray-10 : 0, 0%, 93%;
  --gray-20 : 0, 0%, 87%;
  --gray-30 : 0, 0%, 80%;
  --gray-40 : 0, 0%, 73%;
  --gray-50 : 0, 0%, 67%;
  --gray-60 : 0, 0%, 60%;
  --gray-70 : 0, 0%, 47%;
  --gray-80 : 0, 0%, 33%;
  --gray-90 : 0, 0%, 20%;
  --gray-100: 0, 0%, 7%;

  --site-bg: var(--bg-color);
  --site-text: var(--black);

  /*------------------------------------*
    Typo Scale
    https://utopia.fyi/type/calculator?c=472,16,1.2,1480,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,2xl,12
  *------------------------------------*/
  --typo--2: clamp(0.69rem, calc(0.66rem + 0.15vw), 0.80rem);
  --typo--1: clamp(0.83rem, calc(0.78rem + 0.24vw), 1.00rem);
  --typo-0: clamp(1.00rem, calc(0.92rem + 0.36vw), 1.25rem);
  --typo-1: clamp(1.20rem, calc(1.08rem + 0.52vw), 1.56rem);
  --typo-2: clamp(1.44rem, calc(1.27rem + 0.74vw), 1.95rem);
  --typo-3: clamp(1.73rem, calc(1.49rem + 1.03vw), 2.44rem);
  --typo-4: clamp(2.07rem, calc(1.74rem + 1.42vw), 3.05rem);
  --typo-5: clamp(2.49rem, calc(2.04rem + 1.92vw), 3.82rem);

  /*------------------------------------*
    Spacings
    https://utopia.fyi/space/calculator?c=472,16,1.2,1480,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,2xl,12
  *------------------------------------*/
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.09vw), 0.31rem);
  --space-2xs: clamp(0.50rem, calc(0.46rem + 0.18vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.69rem + 0.27vw), 0.94rem);
  --space-s: clamp(1.00rem, calc(0.92rem + 0.36vw), 1.25rem);
  --space-m: clamp(1.50rem, calc(1.37rem + 0.54vw), 1.88rem);
  --space-l: clamp(2.00rem, calc(1.83rem + 0.72vw), 2.50rem);
  --space-xl: clamp(3.00rem, calc(2.75rem + 1.09vw), 3.75rem);
  --space-2xl: clamp(4.00rem, calc(3.66rem + 1.45vw), 5.00rem);
  --space-3xl: clamp(6.00rem, calc(5.49rem + 2.17vw), 7.50rem);
}

:root.dark {
  /*------------------------------------*
    Colors
  *------------------------------------*/
  --site-bg: var(--black);
  --site-text: var(--bg-color);
}