@charset "UTF-8";
/*------------------------------------*
  Font family
*------------------------------------*/
:root {
  /*------------------------------------*
    Grid
    https://utopia.fyi/grid/calculator?c=472,16,1.2,1480,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,2xl,12
  *------------------------------------*/
  --grid-max-width: 92.5rem;
  --grid-gutter: var(--space-s-l, clamp(1.00rem, calc(0.30rem + 2.38vw), 2.50rem));
  --grid-columns: 12;
  --small-wrapper: 59.375rem;
  /*------------------------------------*
    Colors
  *------------------------------------*/
  --white: 0, 0%, 100%;
  --black: 0, 0%, 0%;
  --bg-color: 24, 37%, 89%;
  --gray-10: 0, 0%, 93%;
  --gray-20: 0, 0%, 87%;
  --gray-30: 0, 0%, 80%;
  --gray-40: 0, 0%, 73%;
  --gray-50: 0, 0%, 67%;
  --gray-60: 0, 0%, 60%;
  --gray-70: 0, 0%, 47%;
  --gray-80: 0, 0%, 33%;
  --gray-90: 0, 0%, 20%;
  --gray-100: 0, 0%, 7%;
  --site-bg: var(--bg-color);
  --site-text: var(--black);
  /*------------------------------------*
    Typo Scale
    https://utopia.fyi/type/calculator/?c=472,18,1.2,1480,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,2xl,12
  *------------------------------------*/
  --typo--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
  --typo--1: clamp(0.94rem, calc(0.91rem + 0.10vw), 1.00rem);
  --typo-0: clamp(1.13rem, calc(1.07rem + 0.20vw), 1.25rem);
  --typo-1: clamp(1.35rem, calc(1.25rem + 0.34vw), 1.56rem);
  --typo-2: clamp(1.62rem, calc(1.46rem + 0.53vw), 1.95rem);
  --typo-3: clamp(1.94rem, calc(1.71rem + 0.79vw), 2.44rem);
  --typo-4: clamp(2.33rem, calc(2.00rem + 1.14vw), 3.05rem);
  --typo-5: clamp(2.80rem, calc(2.32rem + 1.61vw), 3.82rem);
  /*------------------------------------*
    Spacings
    https://utopia.fyi/space/calculator?c=472,16,1.2,1480,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,2xl,12
  *------------------------------------*/
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.09vw), 0.31rem);
  --space-2xs: clamp(0.50rem, calc(0.46rem + 0.18vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.69rem + 0.27vw), 0.94rem);
  --space-s: clamp(1.00rem, calc(0.92rem + 0.36vw), 1.25rem);
  --space-m: clamp(1.50rem, calc(1.37rem + 0.54vw), 1.88rem);
  --space-l: clamp(2.00rem, calc(1.83rem + 0.72vw), 2.50rem);
  --space-xl: clamp(3.00rem, calc(2.75rem + 1.09vw), 3.75rem);
  --space-2xl: clamp(4.00rem, calc(3.66rem + 1.45vw), 5.00rem);
  --space-3xl: clamp(6.00rem, calc(5.49rem + 2.17vw), 7.50rem);
}

:root.dark {
  /*------------------------------------*
    Colors
  *------------------------------------*/
  --site-bg: var(--black);
  --site-text: var(--bg-color);
}

/* offset-x | offset-y | blur-radius | spread-radius | color */
/*------------------------------------*\
    Background gradient top to bottom
\*------------------------------------*/
/*------------------------------------*\
    Background gradient left to right
\*------------------------------------*/
/*------------------------------------*\
    Px to Em
\*------------------------------------*/
/*------------------------------------*\
    Px to Rem
\*------------------------------------*/
/*------------------------------------*
  Outline
*------------------------------------*/
/*------------------------------------*
  Aspect ratio fallback
*------------------------------------*/
/*
.test {
  @include shadow(level-800);
}
*/
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

html {
  font-size: 100%;
  font-family: "Figtree", sans-serif;
  color: HSL(var(--site-text));
  background-color: HSL(var(--site-bg));
  scroll-behavior: smooth;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

h1,
.typo-level-5 {
  font-size: var(--typo-5);
  line-height: 110%;
}

h2,
.typo-level-4 {
  font-size: var(--typo-4);
  line-height: 120%;
}

h3,
.typo-level-3 {
  font-size: var(--typo-3);
  line-height: 120%;
}

h4,
.typo-level-2 {
  font-size: var(--typo-2);
  line-height: 120%;
}

.typo-level-1 {
  font-size: var(--typo-1);
  line-height: 150%;
}

p,
.typo-level-0 {
  font-size: var(--typo-0);
  line-height: 150%;
}

p + p,
h1 + p {
  margin-top: var(--space-s);
}

.typo-level--1 {
  font-size: var(--typo--1);
  line-height: 120%;
}

.typo-level--2 {
  font-size: var(--typo--2);
  line-height: 120%;
}

*:focus {
  outline: 0.125rem solid HSL(var(--site-text));
}

a {
  color: HSL(var(--site-text));
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: var(--typo-0);
  line-height: 150%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
}
button > * {
  pointer-events: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

svg {
  vertical-align: middle;
}

.o-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.o-small-container {
  max-width: var(--small-wrapper);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.o-grid {
  display: grid;
  gap: calc(var(--grid-gutter) * 2) var(--grid-gutter);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}
@media only screen and (min-width: 46.75em) {
  .o-grid {
    gap: var(--grid-gutter);
  }
}

.o-grid--1-col > * {
  grid-column: span 12;
}

.o-grid--2-cols > * {
  grid-column: span 12;
}
@media only screen and (min-width: 46.75em) {
  .o-grid--2-cols > * {
    grid-column: span 6;
  }
}

.o-paper h1 {
  margin-bottom: var(--space-3xs);
}
.o-paper .metadata {
  margin-bottom: var(--space-xl);
  margin-top: var(--space-2xs);
  color: HSL(var(--gray-80));
}
.dark .o-paper .metadata {
  color: HSL(var(--gray-20));
}
.o-paper .metadata * {
  color: currentColor;
}
.o-paper h2, .o-paper h3, .o-paper h4, .o-paper h5, .o-paper h6 {
  margin-top: var(--space-l);
  margin-bottom: var(--space-xs);
}
.o-paper p, .o-paper ul, .o-paper ol {
  margin-bottom: var(--space-m);
}
.o-paper ul, .o-paper ol {
  list-style: initial;
  list-style-position: inside;
}
.o-paper img, .o-paper picture {
  margin: var(--space-m) 0;
}
.o-paper img:first-of-type, .o-paper picture:first-of-type {
  margin-top: 0;
}
.o-paper blockquote {
  position: relative;
  border-left: 0.1875rem solid HSL(var(--site-text));
  padding-left: var(--space-s);
  margin: var(--space-m) 0;
}
.o-paper blockquote p:not(:last-of-type) {
  font-size: var(--typo-0);
  line-height: 150%;
  font-style: italic;
}
.o-paper blockquote p:not(:last-of-type)::before {
  content: "“";
}
.o-paper blockquote p:not(:last-of-type)::after {
  content: "”";
}
.o-paper iframe {
  display: block;
  margin: var(--space-m) auto;
  width: 100%;
  height: 50%;
  aspect-ratio: 16/9;
}

.o-antipodes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: var(--space-s) 0;
}

.o-tag + .o-tag::before {
  content: ", ";
}

.c-header {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

.c-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.c-nav__item {
  color: HSL(var(--site-text));
  text-decoration: none;
  font-size: var(--typo-0);
  font-weight: bold;
  text-transform: uppercase;
}

.c-nav__logo {
  color: HSL(var(--site-text));
  text-decoration: none;
  font-size: var(--typo-0);
  font-weight: bold;
  margin-right: auto;
}

.c-nav__logo span {
  visibility: hidden;
  display: inline-block;
  width: 0.5rem;
}
@media only screen and (min-width: 26.75em) {
  .c-nav__logo span {
    visibility: visible;
    width: auto;
  }
}
.c-nav__logo span:first-letter {
  visibility: visible;
}

.c-nav__item + .c-nav__item {
  margin-left: var(--space-l);
}

.c-nav__theme-btn {
  background: transparent;
  padding: 0;
  border: 0;
  margin-left: var(--space-l);
  cursor: pointer;
  color: HSL(var(--site-text));
}

/*------------------------------------*
  Footer modifier
*------------------------------------*/
.c-nav--footer .c-nav__item {
  text-transform: none;
}

.c-icon {
  fill: currentColor;
}

.c-icon--24 {
  width: 1.5rem;
  height: 1.5rem;
}

.c-opening {
  max-width: var(--small-wrapper);
  margin: var(--space-2xl) auto;
}
@media only screen and (min-width: 46.75em) {
  .c-opening {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--grid-gutter);
  }
}

.c-opening__title {
  font-size: var(--typo-4);
}

.c-opening__subtitle {
  font-size: var(--typo-2);
  line-height: 120%;
  font-weight: bold;
  margin-top: 0;
}

.c-opening__content {
  flex: 1 1 36.25rem;
}

.c-opening__image-container {
  flex: 1 1 20.625rem;
  margin-top: var(--space-s);
}
@media only screen and (min-width: 46.75em) {
  .c-opening__image-container {
    margin-top: 0;
  }
}

.c-opening__pic {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 6.25rem;
}
@media only screen and (min-width: 46.75em) {
  .c-opening__pic {
    width: 100%;
    max-width: 330px;
  }
}

.c-post {
  background-color: HSL(var(--white));
  padding: var(--space-s);
  position: relative;
  transition: 0.3s box-shadow ease;
  height: 100%;
}
.dark .c-post {
  background-color: HSL(var(--gray-90));
}
.c-post:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1019607843);
}
.c-post:focus-within {
  outline: 0.125rem solid HSL(var(--site-text));
}

.c-post__click-area {
  outline: none;
}

.c-post__click-area:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-post__title {
  font-size: var(--typo-1);
  line-height: 150%;
}

.c-post__date,
.c-post__tags {
  display: inline-block;
  font-size: var(--typo--1);
  line-height: 120%;
  color: HSL(var(--gray-80));
  margin-top: var(--space-3xs);
}
.dark .c-post__date,
.dark .c-post__tags {
  color: HSL(var(--gray-20));
}

.c-post__tags::before {
  content: " | ";
}

.c-footer {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  margin-top: var(--space-m);
}
.c-footer p:first-child {
  margin-right: auto;
  font-size: var(--typo--2);
  line-height: 120%;
}

.u-visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.u-skip-link {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
  background-color: HSL(var(--white));
  padding: var(--space-2xs);
  color: HSL(var(--black));
  font-weight: bold;
}
.u-skip-link:active, .u-skip-link:focus, .u-skip-link:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
  z-index: 900;
}

.u-mt-space-3xs {
  margin-top: var(--space-3xs);
}

.u-mt-space-2xs {
  margin-top: var(--space-2xs);
}

.u-mt-space-xs {
  margin-top: var(--space-xs);
}

.u-mt-space-s {
  margin-top: var(--space-s);
}

.u-mt-space-m {
  margin-top: var(--space-m);
}

.u-mt-space-l {
  margin-top: var(--space-l);
}

.u-mt-space-xl {
  margin-top: var(--space-xl);
}

.u-mt-space-2xl {
  margin-top: var(--space-2xl);
}

.u-mt-space-3xl {
  margin-top: var(--space-3xl);
}

.pippo {
  color: red;
}

/*# sourceMappingURL=main.css.map */
