// Source: '_settings.typo.scss'
// Doc for postcss-responsive-type: https://www.npmjs.com/package/postcss-responsive-type

/*------------------------------------*\
  Responsive typo management
\*------------------------------------*/
@mixin font-scale($size: level-3, $font-family: $font-primary, $weight: false, $min-range: bp(small), $max-range: bp(xlarge)) {
  font-family: $font-family;

  @if $font-family == $font-primary {
    font-size: responsive remify(map-deep-get($primary-font-scale, $size, "mobile", "fs")) remify(map-deep-get($primary-font-scale, $size, "desktop", "fs"));
    font-range: $min-range $max-range;
    line-height: map-deep-get($primary-font-scale, $size, "lh");
    @if $weight {
      font-weight: map-deep-get($primary-font-scale, 'weights', $weight);
    }
  }

  @if $font-family == $font-secondary {
    font-size: responsive remify(map-deep-get($secondary-font-scale, $size, "mobile", "fs")) remify(map-deep-get($secondary-font-scale, $size, "desktop", "fs"));
    font-range: $min-range $max-range;
    line-height: map-deep-get($secondary-font-scale, $size, "lh");
    @if $weight {
      font-weight: map-deep-get($secondary-font-scale, 'weights', $weight);
    }
  }

}