@mixin typo-level--2 {
  font-size: var(--typo--2);
  line-height: 120%;
}

@mixin typo-level--1 {
  font-size: var(--typo--1);
  line-height: 120%;
}

@mixin typo-level-0 {
  font-size: var(--typo-0);
  line-height: 150%;
}

@mixin typo-level-1 {
  font-size: var(--typo-1);
  line-height: 150%;
}

@mixin typo-level-2 {
  font-size: var(--typo-2);
  line-height: 120%;
}

@mixin typo-level-3 {
  font-size: var(--typo-3);
  line-height: 120%;
}

@mixin typo-level-4 {
  font-size: var(--typo-4);
  line-height: 120%;
}

@mixin typo-level-5 {
  font-size: var(--typo-5);
  line-height: 110%;
}