.c-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  margin: var(--space-m) 0;
}

.c-tags__item {
  
}

.c-tags__anchor {
  padding: var(--space-2xs);
  background-color: useHSL(--neutral-bg);
  display: block;
}