---
layout: 'base.njk' 
title: Blog
---

<div class="o-small-container u-mt-space-2xl">
  <h1>{{ title }}</h1>
</div>

<div class="o-small-container">
  <div class="o-grid o-grid--1-col u-mt-space-2xl">
    {%- for item in collections.blog | reverse -%}
      {% include "post.njk" %}
    {%- endfor -%}
  </div>
</div>