---
layout: 'base.njk' 
title: Blog
description: Articoli su HTML, CSS, accessibilità e usabilità dal punto di vista di uno sviluppatore front end curioso.
contentType: website
---

<div class="o-small-container u-mt-space-2xl">
  <h1>{{ title }}</h1>
  {# <p>Articoli su HTML, CSS, accessibilità e usabilità dal punto di vista di uno sviluppatore front end curioso.</p> #}
  {% include "tags.njk" %}
</div>

<div class="o-small-container">
  <div class="o-grid o-grid--1-col u-mt-space-2xl">
    {% set postslist = collections.post %}
    {% include "postslist.njk" %}
  </div>
</div>