---
layout: 'base.njk' 
title: Home | Antonio Matera
---

<div class="o-small-container">
  {% include "opening.njk" %}
</div>

<div class="o-small-container">
  
  <div class="o-antipodes">
    <h2 class="typo-level-2">Latest posts</h2>
    <a href="/posts" class="typo-level-0"><strong>View all</strong></a>
  </div>

  <div class="o-grid o-grid--2-cols">
    {% include "post.njk" %}
    {% include "post.njk" %}
  </div>
</div>