---
layout: 'base.njk' 
title: Home
description: "Ciao, sono Antonio, Creative Technologist & UX Engineer. Aiuto i designer a prendere decisioni valide e gli sviluppatori a comprendere le intenzioni di design."
contentType: website
---

<div class="o-small-container">
  {% include "opening.njk" %}
</div>

<div class="o-small-container">

  <div class="o-antipodes">
    <h2 class="typo-level-2">Ultimi articoli</h2>
    <a href="/blog" class="typo-level-0"><strong>Tutti gli articoli</strong></a>
  </div>

  <div class="o-grid o-grid--2-cols">
    {% set latest_posts = collections.post | reverse %}
    {% for item in latest_posts.slice(0, 2) %}
      {% include "post.njk" %}
    {% endfor %}
  </div>
</div>