---
layout: 'base.njk' 
title: Home
---
{# {% import "post.njk" as post %} #}

<div class="o-small-container">
  {% include "opening.njk" %}
</div>

<div class="o-small-container">
  
  <div class="o-antipodes">
    <h2 class="typo-level-2">Latest posts</h2>
    <a href="/posts" class="typo-level-0"><strong>View all</strong></a>
  </div>

  <div class="o-grid o-grid--2-cols">
    {% set latest_posts = collections.post | reverse %}
    {% for item in latest_posts.slice(0, 2) %}
      {% include "post.njk" %}
    {% endfor %}
  </div>
</div>