---
layout: 'base.njk' 
title: Posts | Antonio Matera
---

<div class="o-small-container u-mt-space-2xl">
  <h1>Posts</h1>
</div>

<div class="o-small-container">
  <div class="o-grid o-grid--1-col u-mt-space-2xl">
    {% include "post.njk" %}
    {% include "post.njk" %}
    {% include "post.njk" %}
    {% include "post.njk" %}
    {% include "post.njk" %}
  </div>
</div>